.title {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

body {
    background-color: #F7F7F7;
}




h1 {
    color: #365A7E;
    text-align: left;
    font-size: 25px;
    margin: 10px;

}

.sectionTwo {
    margin-left: 50px;
    width: 100;
}

#content {
    display: block;
    position: absolute;
    left: 75%;
    align-items: center;
}

#nameList {
    display: block;
    position: absolute;
    left: 75%;
    align-items: center;
}

.pClass {
    display: block;
    align-items: center;
}

.p1 {
    display: block;
    align-items: center;
}

#space {
    display: block;
}

#playersTable {
    display: block;
    align-items: center;
    text-align: center;
    margin-left: 5rem;
    
}